In [33]:
import pandas as pd
import numpy as np

In [34]:
file_name= 'Topic_Survey_Assignment.csv'
df=pd.read_csv(file_name, index_col=[0])

In [35]:
df

,Very interested,Somewhat interested,Not interested
Big Data (Spark / Hadoop),1332,729,127
Data Analysis / Statistics,1688,444,60
Data Journalism,429,1081,610
Data Visualization,1340,734,102
Deep Learning,1263,770,136
Machine Learning,1629,477,74

In [36]:
df_data = df.sort_values('Very interested', ascending=False)
df_data

,Very interested,Somewhat interested,Not interested
Data Analysis / Statistics,1688,444,60
Machine Learning,1629,477,74
Data Visualization,1340,734,102
Big Data (Spark / Hadoop),1332,729,127
Deep Learning,1263,770,136
Data Journalism,429,1081,610

In [37]:
df_data['Very interested'] = round(df_data['Very interested']*100/2233,2)
df_data['Somewhat interested'] = round(df_data['Somewhat interested']*100/2233,2)
df_data['Not interested'] = round(df_data['Not interested']*100/2233,2)
df_data

,Very interested,Somewhat interested,Not interested
Data Analysis / Statistics,75.59,19.88,2.69
Machine Learning,72.95,21.36,3.31
Data Visualization,60.01,32.87,4.57
Big Data (Spark / Hadoop),59.65,32.65,5.69
Deep Learning,56.56,34.48,6.09
Data Journalism,19.21,48.41,27.32

In [38]:
import matplotlib.pyplot as plt

ax = df_data.plot(kind='bar', alpha=0.35, figsize=(20, 8))

ax.set_title('Pecentage of Respondents/'Interest ')
ax.set_ylabel('Number of Immigrants')
ax.set_xlabel('Years')

Text(0.5, 0, 'Years')